<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Add new product</h3>
<p>
    <a th:href="@{/products}">
        Back to products list
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form th:action="@{/create-product}" th:object="${product}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label><br>
            <input type="number" th:field="*{price}"/>
        </div>
        <div>
            <label>Quantity</label><br>
            <input type="number" th:field="*{quantity}"/>
        </div>
        <div>
            <label>Birthdate</label>
            <input type="date" th:field="*{birthDate}"/>
        </div>
        <div>
            <label>Discreption</label>
            <input type="text" th:field="*{discreption}"/>
        </div>
        <div>
            <label>Categories</label>
            <select th:field="*{category}">
                <option th:each="d:${categories}" th:value="${d.id}" th:text="${d.name}"></option>
            </select>
        </div>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>